@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&family=Montserrat:wght@300;400;600&display=swap');
@import "variables";
@import "mixins";
@import "reset";
@import "generales";
@import "header";
@import "footer";
@import "index";
@import "nosotros";
@import "experienciaspage";
@import "sucursales";
@import "contacto";

